@import "config";

$base-unit: 12px;
$menu-height: $base-unit * 6;

.menu-btn {
  position: absolute;
  z-index: 100;
  right: $base-unit * 2;
  top: $base-unit * 2;
  cursor: pointer;
  @include easeOut;

  .btn-line {
    width: 30px;
    height: 3px;
    margin: 0 0 5px 0;
    background: black;
    @include easeOut;

    &.white {
      background: white;
    }
  }

  &.close {
    transform: rotate(180deg);

    .btn-line {
      &:nth-child(1) {
        transform: rotate(45deg) translate(8px, 8px);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(-45deg) translate(4px, -3px);
      }
      // background: white !important;
    }
  }
}

// Menu Overlay
.menu {
  position: fixed;
  width: 100%;
  display: grid;
  grid-template-rows: $menu-height auto;

  &:first-child {
    background: $personal-trainer-color;
  }

  &-nav {
    z-index: -1;
    position: relative;
    height: 0;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    transform: translate3d(0, -600px, 0);
    @include easeIn;
    background: none;
    box-shadow: none;

    .nav-link {
      text-decoration: none;
      color: set-text-color($personal-trainer-color);

      &.white {
        color: set-text-color($salsa-trainer-color);
      }
    }

    &.show {
      height: auto;
      transform: translate3d(0, 0, 0);
      background: $personal-trainer-color;
      @include easeOut;
      box-shadow: 0px 3px 15px 0px $primary-color;

      &.white {
        background: $salsa-trainer-color;
      }
    }

    .nav-item {
      position: relative;
      margin: $base-unit/3 $base-unit;
      text-transform: uppercase;
      font-weight: 700;
      text-align: center;
      width: 100%;
      font-size: 0.9rem;

      &.current,
      &:hover {
        .nav-item-text {
          &:after {
            content: "";
            display: block;
            width: 20%;
            height: 4px;
            margin-top: $base-unit/2;
            margin-left: 40%;
            background-color: $primary-color;
            @include easeOut;
          }

          &.salsa {
            &:after {
              background-color: $primary-color-salsa;
            }
          }
        }
      }

      .nav-item-text {
        background-color: $personal-trainer-color;
        &.salsa {
          background-color: $salsa-trainer-color;
        }
        &:after {
          content: "";
          display: block;
          width: 0;
          height: 4px;
          margin-top: $base-unit/2;
          margin-left: 40%;

          @include easeOut;
        }
      }
    }
  }

  &-branding {
    background: $personal-trainer-color;

    &.white {
      background: $salsa-trainer-color;
    }

    .logo {
      height: $menu-height * 0.6;
      margin-top: $menu-height * 0.2;
      margin-bottom: $menu-height * 0.2;
      margin-left: $menu-height * 0.4;
    }
  }
}

@include mediaXl {
  .menu-btn {
    display: none;
  }
  .menu {
    height: $menu-height;
    display: grid;
    grid-template-columns: 240px auto;
    align-items: center;
    align-content: center;

    &-nav {
      position: relative;
      transform: translate3d(0, 0, 0);
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      box-shadow: none;
      background: $personal-trainer-color;

      &.white {
        background: $salsa-trainer-color;
      }

      &.show {
        box-shadow: none;
      }

      .nav-item {
        margin: 0 $base-unit;
        width: auto;

        &:last-child {
          margin-right: $base-unit * 2;
        }

        &.current,
        &:hover {
          .nav-item-text {
            &:after {
              width: 80%;
              margin-left: 0;
            }
          }
        }

        .nav-item-text {
          &:after {
            margin-left: 0;
          }
        }
      }
    }
  }
}
