$padding-unit: 24px;

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: $padding-unit;
  padding-right: $padding-unit;
}

@include mediaXxl {
  .container {
    max-width: 1200px;
  }
}

@include mediaXl {
  .container {
    max-width: 1000px;
  }

  .salsa {
    &-img-page {
      display: grid;
      grid-template-columns: 30% 70%;
      align-items: center;

      @each $i in 0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100 {
        &.img-#{$i} {
          grid-template-columns: $i * 1% (100 - $i) * 1%;
        }
      }

      img {
        max-width: 100%;
      }

      &.right {
        grid-template-columns: 70% 30%;
      }
    }
  }

  .contact {
    grid-template-columns: repeat(3, 1fr);
    font-size: 2rem;

    .mail,
    .phone {
      margin-top: 25vh;
      a {
        i {
          font-size: 10rem;
        }
      }
    }
  }

  footer {
    margin-top: 5rem;
    text-align: start;
    .footer-content {
      .footer-flex {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
      }
    }
  }

  .quote_block {
    max-width: 67%;
    align-items: center;
  }

  .list_block {
    max-width: 40%;
  }
}

@include mediaLg {
  .container {
    max-width: 90vw;
  }

  .contact {
    grid-template-columns: repeat(2, 1fr);
    font-size: 2rem;

    .mail,
    .phone {
      margin-top: 20vh;
      a {
        i {
          font-size: 9rem;
        }
      }
    }
  }

  footer {
    margin-top: 5rem;
    text-align: start;
    .footer-content {
      .footer-flex {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
      }
    }
  }

  .quote_block {
    max-width: 67%;
    align-items: center;
  }

  .list_block {
    max-width: 40%;
  }
}

@include mediaMd {
  .container {
    max-width: 100%;
    padding-left: $padding-unit;
    padding-right: $padding-unit;
  }

  .contact {
    grid-template-columns: repeat(2, 1fr);
    font-size: 1.5rem;

    .mail,
    .phone {
      margin-top: 20vh;
      a {
        i {
          font-size: 6rem;
        }
      }
    }
  }

  footer {
    margin-top: 5rem;
    text-align: start;
    .footer-content {
      .footer-flex {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
      }
    }
  }

  .price_list {
    grid-template-columns: 100%;
    grid-row-gap: 0.5rem;
    margin-bottom: 2rem;
  }

  .list_block {
    max-width: 60%;
    &.wide {
      max-width: 75%;
    }
  }

  .quote_block {
    display: block;
    img {
      float: left;
    }
  }
}

@include mediaSm {
  .price_list {
    grid-template-columns: 100%;
    grid-row-gap: 0.5rem;
    margin-bottom: 2rem;
  }

  .list_block {
    max-width: 80%;
    &.wide {
      max-width: 100%;
    }
  }

  .quote_block {
    display: block;
    img {
      float: left;
    }
  }
}
