$padding-unit: 24px;

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: $padding-unit;
  padding-right: $padding-unit;
}

@include mediaXl {
  .container {
    max-width: 1000px;
  }

  .salsa {
    &-img-page {
      display: grid;
      grid-template-columns: 30% 70%;
      align-items: center;

      img {
        max-width: 100%;
      }

      &.right {
        grid-template-columns: 70% 30%;
      }
    }
  }

  .contact {
    grid-template-columns: repeat(3, 1fr);
    font-size: 2rem;

    .mail,
    .phone {
      margin-top: 25vh;
      a {
        i {
          font-size: 10rem;
        }
      }
    }
  }
}

@include mediaXxl {
  .container {
    max-width: 1200px;
  }
}

@include mediaLg {
  .container {
    max-width: 90vw;
  }

  .contact {
    grid-template-columns: repeat(2, 1fr);
    font-size: 2rem;

    .mail,
    .phone {
      margin-top: 20vh;
      a {
        i {
          font-size: 9rem;
        }
      }
    }
  }
}

@include mediaMd {
  .container {
    max-width: 100%;
    padding-left: $padding-unit;
    padding-right: $padding-unit;
  }

  .contact {
    grid-template-columns: repeat(2, 1fr);
    font-size: 1.5rem;

    .mail,
    .phone {
      margin-top: 20vh;
      a {
        i {
          font-size: 6rem;
        }
      }
    }
  }
}
