@import "config";
@import "menu";
@import "button";
@import "faded";

html {
  scroll-behavior: smooth;
  min-height: 100vh;
}

body {
  height: 100vh;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.2;
  align-content: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 4rem;
}

header {
  position: fixed;
  height: $menu-height;
  width: 100%;
  background: $personal-trainer-color;

  &.white {
    background: $salsa-trainer-color;
  }
}

main {
  padding-top: $menu-height;
}

footer {
  min-height: 10vh;
  height: auto;
  margin-top: 2rem;
  text-align: center;
  .footer-content {
    border-top: 1px solid $primary-color;
    height: auto;
    padding-top: 1rem;
    margin-bottom: 3rem;
    .footer-flex {
      display: block;
      align-items: stretch;
      h3,
      h4,
      h5 {
        margin-top: 0.5rem;
        margin-bottom: 0.25rem;
      }
    }
  }
  .menu-list,
  .menu-title {
    padding: 0 2rem;
  }
  .menu-list {
    div {
      margin: 0.75rem 0;
      a {
        color: gray;
        &:hover {
          @include easeOut;
          color: $primary-color;
        }

        &.salsa {
          &:hover {
            color: $primary-color-salsa;
          }
        }
      }
    }
  }
  .footer-contact {
    div {
      margin: 0.75rem 0;
      color: gray;
      a {
        color: gray;
        &:hover {
          @include easeOut;
          color: $primary-color;
        }

        &.salsa {
          &:hover {
            color: $primary-color-salsa;
          }
        }
      }
    }
  }
}

.anchor:before {
  display: block;
  content: " ";
  margin-top: -75px;
  height: 75px;
  visibility: hidden;
}

a {
  text-decoration: none;
  color: set-text-color($personal-trainer-color);

  &.white {
    color: set-text-color($salsa-trainer-color);
  }

  &:hover {
    @include easeOut;
    color: $primary-color;
  }

  &.salsa {
    &:hover {
      color: $primary-color-salsa;
    }
  }
}
.quote {
  margin: 8rem 0;
}

.scroll-arrow {
  text-align: center;
  position: fixed;
  margin: 2% 0;
  width: 100%;
  bottom: 0;
  @include easeOut;
  color: $primary-color;
  opacity: 0;
  pointer-events: none;
  i {
    width: 2rem;
    height: 2rem;
    background: black;
    border-radius: 50%;
  }
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@import "home";

.salsa-trainer {
  &-page {
    background: $salsa-trainer-color;
    color: set-text-color($salsa-trainer-color);
  }
}
.personal-trainer {
  &-page {
    background: $personal-trainer-color;
    color: set-text-color($personal-trainer-color);
  }
}

.personal-trainer,
.salsa-trainer {
  &-home {
    text-align: center;
  }

  &-home-banner {
    img {
      position: relative;
      z-index: -1;
      width: 100%;
      height: auto;
    }
  }
}

.salsa {
  &-img-page {
    align-items: center;

    img {
      max-height: 60vh;
    }
  }
}

.contact {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: auto;
  justify-items: center;
  font-size: 1.3rem;

  .mail,
  .phone {
    margin-top: 13vh;
    a {
      display: flex;
      flex-direction: column;
      justify-self: center;
      text-align: center;
      flex-wrap: wrap;

      text-decoration: none;
      color: set-text-color($personal-trainer-color);

      &.white {
        color: set-text-color($salsa-trainer-color);
      }

      i {
        margin-bottom: 1rem;
        font-size: 5rem;
      }

      &:hover {
        @include easeOut;
        color: $primary-color;
      }

      &.salsa {
        &:hover {
          color: $primary-color-salsa;
        }
      }
    }
  }
}

@import "mobile";
